* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

.custom-dialog-container cdk-overlay-pane {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background-color: white;
}
